/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #333;
  --color-font-gray: #888;
  --color-font-light-gray: #aaa;
  --color-font-extra-light-gray: #ccc;
  --color-font-white: #fff;
  --color-bg-extra-black: #111;
  --color-bg-base: #ddd;
  --color-bg-gray: #888;
  --color-bg-dark-gray: #555;
  --color-bg-light-gray: #aaa;
  --color-bg-extra-light-gray: #eee;
  --color-bg-white: #fff;
  --color-bg-yellow: #f5cc02;
  --color-bg-black: #333;
  --color-border-gray: #888;
  --color-border-dark-gray: #555;
  --color-border-light-gray: #aaa;
  --color-border-black: #333;
  --color-border-white: #fff;
  --color-hover-yellow: #faea5a;
  --color-hover-white: #fff;
  --color-hover-light-gray: #ccc;
  --color-hover-black: #333;
  --color-bg-header-fixed: rgba(51, 51, 51, 0.7);
}
