/*!
global > z-index
------------------------------
*/
:root {
  --z-index-loading: 1000;
  --z-index-modal: 100;
  --z-index-fixed-btn: 80;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-default: 1;
  --z-index-negative: -1;
}
