@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.footer {
  background-color: var(--color-bg-extra-black);
  color: var(--color-font-extra-light-gray);
  padding: 24px 24px 40px;
  text-align: right;
  @include g.mq() {
    padding: 24px 32px 48px;
  }
}

.footer small {
  font-size: 14px;
  font-family: var(--font-family--en);
}
