@use "../global" as g;

/*!
component > button
------------------------------
*/
/* ボタン共通 */
.c-button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid var(--color-border-dark-gray);
  background-color: var(--color-bg-dark-gray);
  color: var(--color-font-white);
  font-size: 20px;
  font-family: var(--font-family--en);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}

/* スクロール連動CTAボタン */
.c-cta-button {
  display: none;
  @include g.mq() {
    display: none; //初期設定(非表示)
    flex-direction: column;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50vh;
    border: 1px solid var(--color-border-dark-gray);
    background-color: var(--color-bg-dark-gray);
    color: var(--color-font-white);
    font-family: var(--font-family--en);
    font-size: 14px;
    line-height: 1.2;
    align-items: center;
    justify-content: center;
    gap: 6px;
    z-index: var(--z-index-fixed-btn);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  @include g.mq(xl) {
    width: 120px;
    height: 120px;
    font-size: 18px;
    gap: 8px;
  }

  &::before {
    @include g.mq() {
      content: "";
      display: block;
      width: 36px;
      height: 36px;
      mask-image: url("../img/common/icon-github.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--color-font-white);
    }
    @include g.mq(xl) {
      width: 40px;
      height: 40px;
    }
  }
}

.c-cta-button:hover {
  background-color: var(--color-hover-light-gray);
  border-color: var(--color-border-light-gray);
  color: var(--color-font-base);
  &::before {
    background-color: var(--color-font-base);
  }
}

.c-cta-button.is-fixed {
  @include g.mq() {
    display: flex;
  }
}
