@use "../../global" as g;

/*!
page > top > auto-slider
------------------------------
*/
.auto-slider {
  padding: 36px 0;
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  @include g.mq() {
    padding: 80px 0;
  }
}
