@use "../../global" as g;

/*!
page > top > github-link
------------------------------
*/
.github-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-text {
  animation: rotate 20s linear infinite;
}

// テキストの見た目
.circular-text text {
  font-size: 16px;
  font-family: var(--font-family--en);
  letter-spacing: 2px;
  fill: var(--color-font-gray);
  text-transform: uppercase;
}

// 回転アニメーション
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
