@use "../../global" as g;

/*!
page > top > github-link
------------------------------
*/
.github-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-text {
  color: var(--color-font-gray);
  width: 220px;
  height: 220px;
  animation: rotate 20s linear infinite;
  @include g.mq() {
    width: 280px;
    height: 280px;
  }
}

// テキストの見た目
.circular-text text {
  font-size: 16px;
  font-family: var(--font-family--en);
  letter-spacing: 2px;
  fill: var(--color-font-gray);
  text-transform: uppercase;
}

// 回転アニメーション
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.circular-text-path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  opacity: 0.3;
}
