@use "../../global" as g;

/*!
page > top > github-link
------------------------------
*/
.github-link-container {
  width: fit-content;
  margin: 80px auto;
  @include g.mq() {
    margin: 180px auto;
  }
}

.github-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // 回転する文字と同じサイズを指定してリンクエリアを確保
  width: 240px;
  height: 240px;
  @include g.mq() {
    width: 400px;
    height: 400px;
  }
}

.circular-text {
  position: absolute;
  inset: 0;
  margin: auto;
  color: var(--color-font-gray);
  width: 240px;
  height: 240px;
  animation: rotate 20s linear infinite;
  @include g.mq() {
    width: 400px;
    height: 400px;
  }
}

// テキストの見た目
.circular-text text {
  font-size: 16px;
  font-family: var(--font-family--en);
  letter-spacing: 0.02em;
  fill: var(--color-font-gray);
  text-transform: uppercase;
}

// 回転アニメーション
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.circular-text-path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  opacity: 0.6;
}

.github-link-button {
  position: relative;
  z-index: 2;
  width: 166px;
  height: 166px;
  border-radius: 50vh;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-dark-gray);
  background-color: var(--color-bg-dark-gray);
  color: var(--color-font-white);
  font-family: var(--font-family--en);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  @include g.mq() {
    width: 280px;
    height: 280px;
    gap: 10px;
    font-size: 26px;
  }
}

.github-link-button:hover {
  background-color: var(--color-hover-light-gray);
  border-color: var(--color-border-light-gray);
  color: var(--color-font-base);
}

.github-link-button::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  mask-image: url("../img/common/icon-github.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--color-font-white);
  transition: background-color 0.3s ease;
  @include g.mq() {
    width: 44px;
    height: 44px;
  }
}

.github-link-button:hover::before {
  background-color: var(--color-hover-black);
}
