@use "../../global" as g;

/*!
page > top > loading
------------------------------
*/
.loading {
  position: fixed;
  inset: 0;
  background-color: var(--color-bg-black);
  z-index: var(--z-index-loading);
  display: grid;
  place-items: center;
}

.loading-text {
  grid-area: 1 / 1;
  display: flex;
  gap: 8px;
  // visibility: hidden; //仮設定_後で消す
  @include g.mq() {
    gap: 16px;
  }
}

.loading-icon {
  grid-area: 1 / 1;
  z-index: 1;
}

.loading-text-item {
  display: inline-block;
  font-size: 40px;
  color: var(--color-font-white);
  font-family: var(--font-family--en);
  text-transform: uppercase;
  @include g.mq() {
    font-size: 56px;
  }
}

.loading-icon-img {
  width: 40px;
  aspect-ratio: 1 / 1;
  @include g.mq() {
    width: 56px;
  }
}

// 仮設定_以下後ほど削除


// .top-kv-copy-text {
//   visibility: hidden;
// }

// .top-kv-text-ja {
//   visibility: hidden;
// }